@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("~/assets/fonts/AvenirLTProMedium.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("~/assets/fonts/AvenirLTProLight.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("~/assets/fonts/AvenirLTProBlack.otf") format("opentype");
  font-weight: 700;
}


@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter/Inter Regular.otf") format("opentype");
  font-weight: normal;
}


@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter/Inter Bold.otf") format("opentype");
  font-weight: bold;
}


@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter/Inter ExtraBold.otf") format("opentype");
  font-weight: bolder;
}


@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter/Inter ExtraLight.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter/Inter Light.otf") format("opentype");
  font-weight: light;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: initial;
}
